<footer class="footer">
  <div class="footer__container">

    <div class="footer__column">
      <div class="footer__img">
        <img src="assets/Logo-white.png" />
      </div>
    </div>

    <div class="footer__column">
      <h3 class="footer__h3">Contacto</h3>
      <p>
        <span class="footer__span">
          Direccion:
        </span>
        Av. Dibu Martínez 1812
      </p>
      <p>
        <span class="footer__span">
          Telefono:
        </span>
        2183621733213
      </p>
      <p>
        <span class="footer__span">
          Horario:
        </span>
        Lun - Vie de 09:00 a 18:00
      </p>
    </div>

    <div class="footer__column">
      <h3 class="footer__h3">
        Mi cuenta
      </h3>
      <a routerLink="/cart" class="footer__a">
        Carrito <i class="fa-solid fa-cart-shopping"></i>
      </a>
      <a routerLink="/auth/login" class="footer__a">
        Ingresar <i class="fa-solid fa-arrow-right-to-bracket"></i>
      </a>
      <a routerLink="/auth/register" class="footer__a">
        Registrarse <i class="fa-solid fa-user-plus"></i>
      </a>
    </div>

    <div class="footer__column">
      <h3 class="footer__h3">Síguenos</h3>
      <div class="footer__icons">
        <a class="footer__icon" href="https://instagram.com" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a class="footer__icon" href="https://facebook.com" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a class="footer__icon" href="https://twitter.com" target="_blank">
          <i class="fa-brands fa-twitter"></i>
        </a>
      </div>
    </div>
    <!-- <Typography sx={{ color: "HighlightText" , margin: 0, textAlign: "center" , fontSize: "14px" , }}>
      Este sitio web no tiene como objetivo vender nada, es un proyecto
      personal para demostrar mis habilidades. Por favor no utilices
      información real
    </Typography>
    <FooterCopyrightStyled>
      Sitio diseñado por{" "}
      <Typography sx={{ textDecoration: "none" }} component={a} href="https://github.com/lucas-s4nchez"
        target="_blank">
        Lucas Sánchez
      </Typography>
    </FooterCopyrightStyled> -->
  </div>
</footer>