.footer {
  background-color: var(--dark);
  margin-top: 5rem;
}

.footer__container {
  display: grid;
  padding-block: 5rem;
  gap: 2rem;
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);
}
.footer__img {
  padding: 2rem;
  margin: auto;
}
.footer__h3 {
  font-size: 2rem;
  position: relative;
  display: block;
  margin-bottom: 2rem;
}
.footer__h3::after {
  content: "";
  width: 15%;
  height: 2px;
  background: var(--primary);
  position: absolute;
  bottom: -8px;
  left: 0;
}
.footer__span {
  font-weight: 600;
}
.footer__a {
  color: var(--white);
}
.footer__icons {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.footer__icon {
  color: var(--white);
  font-size: x-large;
}
.footer__icon:hover {
  color: var(--primary);
}

@media (min-width: 576px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
