<app-header></app-header>
<div class="page">
  <div class="container">
    <div class="content">
      <div class="image"></div>
    </div>
    <form id="form">
      <div class="title">Registrarse</div>

      <div>
        <label for="email">Correo electrónico</label>
        <i class="far fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="Ingresa tu correo electrónico" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <div>
        <label for="name">Nombre</label>
        <i class="fa-solid fa-user"></i>
        <input type="name" name="name" id="name" placeholder="Ingresa tu nombre" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <div>
        <label for="last_name">Apellido</label>
        <i class="fa-solid fa-user"></i>
        <input type="last_name" name="last_name" id="last_name" placeholder="Ingresa tu apellido" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <div>
        <label for="password">Contraseña</label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <button class="btn btn-primary text-md" disabled type="submit" id="submit">Registrarse</button>
    </form>
  </div>
</div>
<app-footer></app-footer>