<div class="overflow-scroll mt-5">
  <div class="d-flex gap-4 mb-3 text-md justify-content-between">
    <h2 class="text-xl">Categorias</h2>
    <button type="button" class="fab btn btn-primary" title="Agregar categoria" data-bs-toggle="modal"
      data-bs-target="#modalCategoria">
      <i class="fa-solid fa-plus text-md"></i>
    </button>
  </div>
  <div class="alert alert-info" role="alert" *ngIf="!categories.length">
    Todavía no agregaste ningúna categoría, agrega una!
  </div>
  <table class=" mt-4 table table-responsive table-striped " [hidden]="!categories.length">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th class="d-inline-block" style="width: 300px;">Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td>
          <button title="Eliminar categoria" class="btn text-danger text-md"><i
              class="fa-solid fa-trash-can"></i></button>
        </td>
        <td>
          <button title="Actualizar categoria" class="btn text-primary text-md"><i
              class="fa-solid fa-pen-to-square"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <!--  modal -->
  <div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header p-4">
          <h1 class="modal-title  text-md-center " id="exampleModalLabel">Agregar Categoria</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formCategory" (ngSubmit)="addNewCategory()" (ngReset)="resetFormCategory()">
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Nombre de Categoria</label>
              <input type="text" formControlName="name" name="name" class="form-control text-md" id="product-name"
                placeholder="Ingresa el nombre de la categoría">
              <div class="fs-5 text-danger mt-2"
                [hidden]="formCategoryState.name.valid || formCategoryState.name.pristine">
                <span *ngIf="formCategoryState.name.errors?.['required']">El nombre es obligatorio</span>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Descripción</label>
              <textarea type="text" formControlName="description" name="description" class="form-control text-md"
                id="product-descripcion" placeholder="Ingresa la descripción de la categoría"></textarea>
              <div class="fs-5 text-danger mt-2"
                [hidden]="formCategoryState.description.valid || formCategoryState.description.pristine">
                <span *ngIf="formCategoryState.description.errors?.['required']">La descripción es obligatoria</span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="reset" class="btn btn-secondary text-md" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary text-md" id="submit"
                [disabled]="formCategory.invalid || isLoading">Agregar Categoria</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>