.cart-content {
  padding: 10px;
  padding-block: 30px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #adadad;
  background-color: var(--white);
}
.cart-total {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-end;
}
.cart-total__h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
