<app-header></app-header>
<div class="page">
  <div class=" page d-flex justify-content-center" *ngIf="isLoading">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <div class="d-flex flex-column gap-4 m-auto" style="max-width: 80rem; width: 100%;" *ngIf="!isLoading">
    <div class="card p-4">
      <h3 class="text-md fw-bold">Mi información</h3>
      <hr>
      <p class="text-sm"><span class="fw-bolder">Nombre:</span> {{user.name}}</p>
      <p class="text-sm"><span class="fw-bolder">Apellido:</span> {{user.last_name}}</p>
      <p class="text-sm"><span class="fw-bolder">Correo:</span> {{user.email}}</p>
    </div>
    <div class="card p-4">
      <h3>Mis compras</h3>
      <hr>

      <div class="alert alert-info" *ngIf="!orders.length">
        <p>Aún no tienes ninguna compra!</p>
      </div>
      <div class="d-flex flex-column gap-2" *ngIf="orders.length">
        <div *ngFor="let order of orders" class="d-flex justify-content-between align-items-center bg-light p-2">
          <p class="fw-bolder text-sm m-0">#Orden: {{ order.id }}</p>
          <button class="btn btn-primary text-md" (click)="openModal(order, modalContent)">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContent>
  <div class="modal-header p-4">
    <h1 class="modal-title  text-md-center">Order ID: {{selectedOrder.id}}</h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <app-order-card [myOrder]="selectedOrder"></app-order-card>
  </div>

</ng-template>
<app-footer></app-footer>