div {
    display: block;
  }
  
.hero__img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .hero__img {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .hero__img img {
    max-width: 100%;
    height: auto;
  }
  