<app-header></app-header>
<app-hero></app-hero>
<section class="icons container section">
  <div class="icon">
    <img class="icon__img" src="assets/icon-quality.webp" alt="">
    <h2>Café Excepcional</h2>
    <span>Calidad y Consistencia Inquebrantables</span>
  </div>

  <div class="icon">
    <img class="icon__img" src="assets/icon-sustainable.webp" alt="">
    <h2>De origen sostenible</h2>
    <span>Relaciones - Sustentabilidad - Transparencia</span>
  </div>

  <div class="icon">
    <img class="icon__img" src="assets/icon-discovery.webp" alt="">
    <h2>Espíritu de descubrimiento</h2>
    <span>Haciendo de cada taza que bebes un nuevo descubrimiento</span>
  </div>
</section>

<section class="section container">
  <h2>Productos destacados</h2>
  <div class="box">
    <div *ngFor="let product of featuredProducts">
      <div class="card">
        <div class="card__img-box">
          <img [src]="product.img" alt="{{product.name}}">
        </div>
        <div class="card__info">
          <h2 class="card__title">{{ product.name }}</h2>
          <div class="card__price-details">
            <p *ngIf="product.discount" class="card__price">precio: {{ product.discountedPrice|currency }}</p>
            <p *ngIf="!product.discount" class="card__price">precio: {{ product.price|currency }}</p>
            <span class="card__discount" *ngIf="product.discount">{{product.discount}}% off</span>
          </div>
          <button class="card__button" (click)="goToProductDetails(product.id)">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container section">
  <h2>Productos en oferta</h2>
  <div class="box">
    <div *ngFor="let product of discountedProducts">
      <div class="card">
        <div class="card__img-box">
          <img [src]="product.img" alt="{{product.name}}">
        </div>
        <div class="card__info">
          <h2 class="card__title">{{ product.name }}</h2>
          <div class="card__price-details">
            <p *ngIf="product.discount" class="card__price">precio: {{ product.discountedPrice|currency }}</p>
            <span class="card__discount" *ngIf="product.discount">{{product.discount}}% off</span>
          </div>
          <button class="card__button" (click)="goToProductDetails(product.id)">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container section">
  <div class="contact">
    <div class="contact__info">
      <h2 class="contact__title">Te esperamos!</h2>
      <p><span class="contact__span">Dirección:</span> Av. del Libertador 101, B1638 Vicente López, Provincia de Buenos
        Aires</p>
      <p><span class="contact__span">Horario:</span> Lun - Vie de 09:00 a 18:00</p>
    </div>
    <iframe class="contact__map"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1643.3928106614587!2d-58.467771000000006!3d-34.533659!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6a614a5609f%3A0xc1ac8de140c582ee!2sStarbucks%20Al%20R%C3%ADo!5e0!3m2!1ses-419!2sar!4v1683330691835!5m2!1ses-419!2sar"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

  </div>
</section>

<app-footer></app-footer>