.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  max-width: 500px;
  padding: 2rem;
  box-sizing: border-box;
  border-style: solid;
  border-width: 15px;
  border-image: url("https://cdn.imgbin.com/3/6/15/imgbin-coffee-bean-hand-painted-coffee-beans-background-coffee-cup-and-pot-illustrations-jvYw74Jwk7sTCL9MEgkpYA5Lw.jpg")
    30 repeat;
  background-color: #fff8dc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  text-align: center;
  color: #131010;
  font-family: "Segoe UI", sans-serif;
}

.planta {
  width: 100px;
  height: 100px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/827/827301.png");
  background-size: contain;
  animation: mover 20s linear infinite;
}

@keyframes mover {
  0% {
    transform: translateX(-120px);
  }
  100% {
    transform: translateX(100vw);
  }
}
