<app-header></app-header>
<div class="page">
  <div class="box-products">
    <div *ngFor="let product of products" class="box-for-products">
      <div class="card-productos">
        <img [src]="product.img" alt="">
        <h2>Nombre: {{ product.name }}</h2>
        <p>Descripción: {{ product.description }}</p>
        <p *ngIf="product.discount" class="text-decoration-line-through">antes: {{ product.price|currency }}</p>
        <p *ngIf="product.discount">precio: {{ product.discountedPrice|currency }}</p>
        <p *ngIf="product.discount">descuento: {{ product.discount }}</p>
        <p>categoria: {{product.category}}</p>
        <button (click)="goToProductDetails(product.id)">Ver mas</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>