.hero {
  max-width: 100vw;
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(to right, #131010bc 0%, #131010 100%),
    url("../../../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero__text {
  display: flex;
  flex-direction: column;
  color: var(--white);
  text-transform: uppercase;
}
.hero__title {
  font-size: 3rem;
  font-weight: 900;
}
.hero__title--color {
  color: var(--primary);
}
.hero__p {
  font-size: 2rem;
  font-weight: 700;
}
.hero__img {
  height: 26rem;
}
.hero__button {
  cursor: pointer;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem 3rem;
  outline: none;
  border: solid 1px var(--primary);
  background-color: transparent;
  border-radius: 1rem;
  color: var(--white);
  margin: auto;
}
.hero__button:hover {
  background-color: var(--primary);
  color: var(--dark);
}

@media (min-width: 768px) {
  .hero__container {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .hero__title {
    font-size: 4.2rem;
  }
  .hero__p {
    font-size: 2.4rem;
  }
  .hero__img-wrapper {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__img {
    height: auto;
  }
  .hero__button {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .hero__img {
    height: 50rem;
  }
}

@media (min-width: 1800px) {
  .hero {
    height: 50vh;
  }
}
