<app-header></app-header>
<div class="page overflow-hidden">
  <div class="d-flex flex-column w-100">
    <ul class="nav overflow-scroll flex-nowrap py-2">
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex gap-1 align-items-center" routerLinkActive="active-admin-link"
          routerLink="/admin" [routerLinkActiveOptions]="{ exact: true }">Inicio <i class="fa-solid fa-house"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex gap-1 align-items-center" routerLinkActive="active-admin-link"
          routerLink="/admin/users">Usuarios <i class="fa-solid fa-users"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex gap-1 align-items-center" routerLinkActive="active-admin-link"
          routerLink="/admin/products">Productos
          <i class="fa-solid fa-mug-hot"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary d-flex gap-1 align-items-center" routerLinkActive="active-admin-link"
          routerLink="/admin/categories">Categorias <i class="fa-solid fa-tags"></i></a>
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>