<app-header></app-header>
<div class="page">
  <div *ngIf="product">
    <div class="row w-100 caja-detalle align-items-center">
      <div class="col-md-8">
        <div class="caja-img">
          <img [src]="product.img" class="float-end" alt="" >
        </div>      
      </div>
      <div class="generaltext">
        <div class="col-md-4 text-details ">
          <h2>Nombre: {{ product.name }}</h2>
          <p>Descripción: {{ product.description }}</p>
          <p class="">Precio: {{ product.price|currency }}</p>
          <p>Categoria: {{product.category}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="productNotFound">
      <h2>{{productNotFound}}</h2>
    </div>
  </div>
</div>
<app-footer></app-footer>