<app-header></app-header>
<div class="page">
  <div class="container">
    <div class="content">
      <div class="image"></div>
    </div>
    <form id="form">
      <div class="title">Iniciar sesión</div>

      <div>
        <label for="email">Correo electrónico</label>
        <i class="far fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <div>
        <label for="password">Contraseña</label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password" id="password" placeholder="" />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <button class="btn btn-primary text-md" disabled type="submit" id="submit">Iniciar sesión</button>
    </form>
  </div>
</div>
<app-footer></app-footer>