.container {
  display: flex;
  flex-direction: row;
}

.content {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../../../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 55%;
  padding: 10px 20px;
}

.logoWhite {
  width: 30%;
}

.logo {
  margin-top: 10px;
  margin-left: 15px;
}

.text {
  text-align: center;
  color: white;
  font-size: 25px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  form {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .content {
    display: flex;
  }
  form {
    width: 45%;
    padding: 5rem;
  }
}
.title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

form div {
  position: relative;
  margin-bottom: 15px;
}

input:focus {
  border: 2px solid #f2796e;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
@media (min-width: 768px) {
  .btn {
    flex-direction: row;
  }
}

.btn-1,
.btn-2 {
  padding: 10px 5px;
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  border: 2px solid #c4c4c4;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-2 {
  background-color: #4f70b5;
  color: white;
}

.or {
  text-align: center;
}

.question {
  font-size: 15px;
}

span {
  color: #e75656;
  cursor: pointer;
}

form div i {
  position: absolute;
  padding: 10px;
}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}

.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  width: 100%;
  height: 45px;
  background-color: #bec0d7;
  border: 2px solid #bec0d7;
  border-radius: 8px;
  color: black;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease;
}

button:hover {
  opacity: 0.8;
}

.social-media-icon {
  display: inline-block;
  margin-left: 30px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.link {
  margin-left: 60%;
  margin-top: 50%;
}

.social-media-icon:hover {
  background: transparent;
  color: #1b36ad;
}
